.jumbotron {
    /* The image used */
    background-image: url("cinema.jpeg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1.display-4, p, label {
    font-family: 'Russo One', sans-serif;
}

.jumbotron, #movie-form {
    text-align: center;
}

#movie-view {
    padding-bottom: 100px;
}