.jumbotron {
    background-image: url("../images/movie.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1.display-4, p, label {
    font-family: 'Russo One', sans-serif;
    color: aqua;
}

hr {
    background-color: aqua;
}

.jumbotron, #movie-form {
    text-align: center;
}

#movie-view {
    padding-bottom: 100px;
}

p.text-center {
    font-size: 30px;
}

img {
    padding-bottom: 50px;
}

div.col-md-4 {
    margin-right: 50px;
}